[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Microsoft Edge (Linux)
Icon=microsoft-edge
Exec=/usr/local/bin/linux-edge
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true

