[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vivaldi Web Browser (Linux)
Comment=Access the Internet
Icon=vivaldi
Exec=/usr/local/bin/linux-vivaldi
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true

